#container {
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 30px;
}
#target{
    border: 1px solid black;
    padding: 10px;
    font-weight: bold ;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
input[type="range"]{
    transform: rotate(0deg);
    margin-left: 20px;
    position: relative;
    width: 120px;
    height: 20px;
    

}

input[type="range"]::before{
    /* content: attr(name); */
    position: absolute;
    left: 0;
    top: -25px;
}
input[type="range"]::after{
    content: attr(value);
    position: absolute;
    right: 0;
    top: -25px;
}

#settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 80vh;
    overflow-y: auto;
}